//Parra Color way

// Normal Colors
$Black: #000000;

//Mainbody
$AMGrey: #afafb7;
$AMoffWhite: #f0f0f8;
$AMDarkGrey: #79767f;


//Heel
$AMLowerDark: #0b1b33;
$AMLowerLight: #e5e9ea;
$AMUpperLight: #c8697c;
$AMUpperDark: #79064b;

//Swoosh
$AMswoosh: #058dc9;

//Highlights
$AMSmall: #e0a8b6;
$AMTongue: #f4596d;


//Main Colors
$PrimaryColor: $AMoffWhite;
$SecondaryColor: $AMGrey;

$TextColor: $Black;
