@import "../_colors";

@mixin maincontent {

}

.mainSection {
    .container {
        h1 {
            text-align: center;
            text-transform: uppercase;
            margin: 50px;
        }
        .databaseDiv {
            overflow: auto;
            padding: 20px;
            h2 {
                text-align: center;
                text-transform: uppercase;
            }
            .databaseTable {
                text-align: center;
                table {
                    margin: auto;
                    border-collapse: collapse;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
                    thead {
                        tr {
                            background-color: $AMLowerLight;
                            color: $AMLowerDark;
                            th {
                                padding: 10px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            border-bottom: thin solid #000000;
                            a {
                                text-decoration: none;
                            }
                            &:nth-of-type(odd) {
                                background-color: $AMLowerDark;
                                color: $AMLowerLight;
                                a {
                                    color: $AMLowerLight;
                                }
                            }
                            &:nth-of-type(even) {
                                background-color: $AMLowerLight;
                                color: $AMLowerDark;
                                a {
                                    color: $AMLowerDark;
                                }
                                .btn {
                                    color: $AMLowerLight;
                                }
                            }
                            td {
                                padding: 10px;
                                text-align: center;
                            }
                            .linkMe:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                nav {
                    margin: auto;
                    margin-top: 50px;
                    div {
                        margin-top: 15px;
                    }
                    div div span svg {
                        display: none;
                    }
                }
            }
        }
    }
}

#ShowCompanySECTION {
    min-height: 70vh;
}
