@import "../_colors";

.navBarMain {
    display: block;
    width: 100%;
    background-color: $AMLowerLight;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    .navBarMainDiv{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        .menu {

            nav{
                display: flex;
                // text-align: center;
                justify-content: space-around;
                padding: 0px;

                a {
                    text-decoration: none;
                    color: $AMswoosh;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 30px;
                    margin: 20px;
                }
            }
        }
        .registrationButtons {
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
}
