.navBarMain {
  display: block;
  width: 100%;
  background-color: #e5e9ea;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
.navBarMain .navBarMainDiv {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.navBarMain .navBarMainDiv .menu nav {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}
.navBarMain .navBarMainDiv .menu nav a {
  text-decoration: none;
  color: #058dc9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  margin: 20px;
}
.navBarMain .navBarMainDiv .registrationButtons {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: arial;
  background-color: #f0f0f8;
  overflow-x: hidden;
}

.container {
  margin: 0px 20px;
}

.GoBackLink {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  color: #0b1b33;
}
.GoBackLink:hover {
  text-decoration: underline;
}

.main-content {
  display: block;
}
.main-content .welcomeSection {
  display: block;
}
.main-content .welcomeSection .container .welcomeDiv {
  border: 3px solid #0b1b33;
  border-radius: 5px;
  background-color: #e5e9ea;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
.main-content .welcomeSection .container .welcomeDiv h4 {
  color: #0b1b33;
}
.main-content .fakeNewsSection {
  display: block;
}
.main-content .fakeNewsSection .container .fakeNewsHolder {
  border: 3px solid #0b1b33;
  border-radius: 5px;
  background-color: #e5e9ea;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  margin-bottom: 40px;
}
.main-content .fakeNewsSection .container .fakeNewsHolder .container .content {
  color: #0b1b33;
}
.main-content .fakeNewsSection .container .fakeNewsHolder .container .content .contentImage {
  border: 2px solid #0b1b33;
  width: 600px;
  margin: auto;
}
.main-content .fakeNewsSection .container .fakeNewsHolder .container .content .contentImage img {
  width: 100%;
  vertical-align: bottom;
  margin: 0px;
  padding: 0px;
}
.main-content .fakeNewsSection .container .fakeNewsHolder .container .content .newsTitle a {
  text-decoration: none;
  color: #0b1b33;
}
.main-content .fakeNewsSection .container .fakeNewsHolder .container .content .newsPublished {
  font-style: italic;
}

footer {
  display: block;
  position: relative;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  height: 100px;
  text-align: center;
  background-color: #0b1b33;
  color: #e5e9ea;
  bottom: 0px;
}

.mainSection .container h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
}
.mainSection .container .databaseDiv {
  overflow: auto;
  padding: 20px;
}
.mainSection .container .databaseDiv h2 {
  text-align: center;
  text-transform: uppercase;
}
.mainSection .container .databaseDiv .databaseTable {
  text-align: center;
}
.mainSection .container .databaseDiv .databaseTable table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
.mainSection .container .databaseDiv .databaseTable table thead tr {
  background-color: #e5e9ea;
  color: #0b1b33;
}
.mainSection .container .databaseDiv .databaseTable table thead tr th {
  padding: 10px;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr {
  border-bottom: thin solid #000000;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr a {
  text-decoration: none;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr:nth-of-type(odd) {
  background-color: #0b1b33;
  color: #e5e9ea;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr:nth-of-type(odd) a {
  color: #e5e9ea;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr:nth-of-type(even) {
  background-color: #e5e9ea;
  color: #0b1b33;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr:nth-of-type(even) a {
  color: #0b1b33;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr:nth-of-type(even) .btn {
  color: #e5e9ea;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr td {
  padding: 10px;
  text-align: center;
}
.mainSection .container .databaseDiv .databaseTable table tbody tr .linkMe:hover {
  text-decoration: underline;
}
.mainSection .container .databaseDiv .databaseTable nav {
  margin: auto;
  margin-top: 50px;
}
.mainSection .container .databaseDiv .databaseTable nav div {
  margin-top: 15px;
}
.mainSection .container .databaseDiv .databaseTable nav div div span svg {
  display: none;
}

#ShowCompanySECTION {
  min-height: 70vh;
}

.modalLogin {
  position: fixed;
  top: calc(50% - (600px /2));
  left: calc(50% - (600px /2));
}
.modalLogin .modalContainer {
  display: block;
  height: 600px;
  width: 600px;
  overflow-y: auto;
  background-color: #c8697c;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 0px 10px black;
  overflow-x: hidden;
}
.modalLogin .modalContainer .modalInnerContainer {
  position: relative;
  top: calc(50% - (419px /2));
  text-align: center;
}
.modalLogin .modalContainer .modalInnerContainer h1 {
  margin-top: 0px;
  font-size: 3em;
}
.modalLogin .modalContainer .modalInnerContainer h6 a {
  margin: 10px 0px;
  text-decoration: none;
  color: black;
}
.modalLogin .modalContainer .modalInnerContainer .loginForm .alertDiv {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 400px;
  display: block;
  background-color: #f4596d;
  color: #e5e9ea;
}
.modalLogin .modalContainer .modalInnerContainer .loginForm span {
  margin: 10px 0px;
  display: block;
}
.modalLogin .modalContainer .modalInnerContainer .loginForm input {
  font-size: 20px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 2px solid #79064b;
  margin-top: 20px;
  width: 400px;
}
.modalLogin .modalContainer .modalInnerContainer .loginForm input:focus {
  border: 2px solid #afafb7;
  outline: none;
}
.modalLogin .modalContainer .modalInnerContainer .loginForm button {
  cursor: pointer;
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  background-color: #79064b;
  color: #f0f0f8;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  left: calc(50% - (122px /2));
}
.modalLogin .modalContainer .modalInnerContainer .loginForm button:focus {
  background-color: #6d6d79;
  color: black;
}

.createSection h1 {
  text-align: center;
  margin: 50px 0px;
}
.createSection .createDiv {
  margin: auto;
  margin-top: 10px;
  background-color: #e5e9ea;
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  margin-bottom: 102px;
}
.createSection .createDiv .container .create {
  display: flex;
  flex-direction: column;
}
.createSection .createDiv .container .create label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
.createSection .createDiv .container .create input {
  padding: 15px;
}
.createSection .createDiv .container .create select {
  padding: 15px;
}
.createSection .createDiv .container .create .inputText {
  padding: 15px;
}
.createSection .createDiv .container .create button {
  margin: 15px 10px;
  width: 100px;
  align-self: center;
}

.SingleEmployeeSection {
  text-align: center;
  min-height: 70vh;
}
.SingleEmployeeSection .container .EmployeeName h1 {
  margin: 50px 0px;
}
.SingleEmployeeSection .container .EmployeeContactDiv {
  margin: auto;
  background-color: #e5e9ea;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
.SingleEmployeeSection .container .EmployeeContactDiv .container h4 {
  color: #0b1b33;
  margin: 50px 0px;
}
.SingleEmployeeSection .container .EmployeeContactDiv .container h6 {
  color: #0b1b33;
  margin: 25px 0px;
}
